[Desktop Entry]
Icon=preferences-desktop-layout
Exec=kcmshell5 kcm_desktoplayout

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_desktoplayout
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=1

Name=Desktop Layout
Name[am]=የ ዴስክቶፕ እቅድ
Name[ar]=تخطيط سطح المكتب
Name[az]=Masaüstü oboy
Name[bg]=Подредба на работния плот
Name[ca]=Disseny de l'escriptori
Name[cs]=Rozvržení plochy
Name[cy]=Cynllun y Bwrdd Gwaith
Name[da]=Skrivebordslayout
Name[de]=Schreibtischanordnung
Name[el]=Διάταξη Επιφάνειας Εργασίας
Name[en_AU]=Desktop Layout
Name[en_CA]=Desktop Layout
Name[en_GB]=Desktop Layout
Name[eo]=Labortabla aranĝo
Name[es]=Diseño del escritorio
Name[et]=Töölaua paigutus
Name[eu]=Mahaigaineko diseinua
Name[fi]=Työpöydän asettelu
Name[fr]=Agencement du bureau
Name[he]=עיצוב שולחן העבודה
Name[hi]=डेस्कटॉप अभिन्यास
Name[hr]=Izgled radne površine
Name[hu]=Asztali kiosztás
Name[ia]=Mappa del scriptorio
Name[is]=Framsetning skjáborðs
Name[it]=Aspetto della scrivania
Name[ja]=デスクトップレイアウト
Name[kab]=Taneɣruft n tnarit
Name[ko]=바탕화면 디자인
Name[lt]=Darbalaukio išdėstymas
Name[ms]=Bentangan Desktop
Name[nb]=Skrivebordsutforming
Name[nl]=Vormgeving van uw bureaublad
Name[pl]=Styl pulpitu
Name[pt]=Esquema do Ambiente de trabalho
Name[pt_BR]=Layout da Área de Trabalho
Name[ro]=Schema Desktopului
Name[ru]=Вид рабочего стола
Name[sk]=Rozhranie pracovnej plochy
Name[sr]=Изглед радне површине
Name[sv]=Skrivbordsupplägg
Name[tr]=Masaüstü Düzeni
Name[uk]=Структура стільниці
Name[uz]=Иш столи тартиби
Name[zh_CN]=桌面布局
Name[zh_TW]=桌面布局
Comment=Choose your favourite desktop layout
Comment[am]=እርስዎ የሚወዱትን የ ዴስክቶፕ እቅድ ይምረጡ
Comment[ar]=اختر تخطيط سطح المكتب المُفضّل لديك
Comment[az]=Sevimli masaüstü oboyu seç
Comment[bg]=Изберете любимата си подредба
Comment[ca]=Trieu el vostre disseny d'escriptori preferit
Comment[cs]=Zvolte své oblíbené rozvržení plochy
Comment[cy]=Dewiswch eich hoff gynllun bwrdd gwaith
Comment[da]=Vælg dit yndlingslayout af skrivebordet
Comment[de]=Lieblingsschreibtischanordnung auswählen
Comment[el]=Επιλέξτε την αγαπημένη σας επιφάνεια εργασίας
Comment[en_AU]=Choose your favourite desktop layout
Comment[en_CA]=Choose your favourite desktop layout
Comment[en_GB]=Choose your favourite desktop layout
Comment[eo]=Elektu vian preferitan labortablan aranĝon
Comment[es]=Elija su diseño de escritorio favorito
Comment[et]=Vali sulle meeldiv töölaua paigutus
Comment[eu]=Aukeratu zure mahaigaineko diseinu gogokoena
Comment[fi]=Valitse mieleisesi työpöydän asettelu
Comment[fr]=Choisissez votre agencement de bureau favori
Comment[he]=לבחור את עיצוב שולחן העבודה המועדף עליך
Comment[hi]=अपना पसंदीदा डेस्कटॉप अभिन्यास चुनें।
Comment[hr]=Odaberite svoj omiljeni izgled radne površine
Comment[hu]=Válassza ki a kívánt asztali elrendezést
Comment[ia]=Elige tu favorite mappa del scriptorio
Comment[is]=Veldu uppáhalds framsetningu skjáborðs
Comment[it]=Scegli l'aspetto preferito per la scrivania
Comment[ja]=気に入ったデスクトップレイアウトを選択してください
Comment[kab]=Fren taneɣruft-inek tanuraft n tanarit
Comment[ko]=좋아하는 바탕화면 디자인을 고르세요
Comment[lt]=Pasirinkite savo mėgstamą darbalaukio išdėstymą
Comment[ms]=Pilih bentangan desktop kegemaran anda
Comment[nb]=Velg din foretrukne skrivebordsutforming
Comment[nl]=Kies uw favoriete bureaubladvormgeving
Comment[pl]=Wybierz ulubiony styl pulpitu
Comment[pt]=Escolha o esquema favorito do seu Ambiente de trabalho
Comment[pt_BR]=Escolha o visual que você mais gostar para a sua área de trabalho
Comment[ro]=Alege schema preferată pentru desktop
Comment[ru]=Выберите предпочтительный вид рабочего стола
Comment[sk]=Vyberte si svoj najobľúbenejšie rozhranie pracovnej plochy
Comment[sr]=Изаберите свој омиљени изглед радне површине
Comment[sv]=Välj ditt favoritupplägg för skrivbordet
Comment[tr]=Hoşunuza giden masaüstü düzenini seçiniz
Comment[uk]=Оберіть свою улюблену структуру стільниці
Comment[uz]=Сиз ёқтирган иш столи тартибини танланг
Comment[zh_CN]=选择您喜欢的桌面布局
Comment[zh_TW]=選擇您喜歡的桌面布局
X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[az]=theme, look, feel,mövzu,xarici görünüş,hissetmə,vidjetlər növü
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[da]=tema, udseende, fremtoning, look, feel
X-KDE-Keywords[de]=Design,Erscheinungsbild
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto, aspecto visual
X-KDE-Keywords[et]=teema, välimus
X-KDE-Keywords[eu]=gaia,itxura,izaera
X-KDE-Keywords[fr]=thème, apparence, comportement
X-KDE-Keywords[hu]=téma, megjelenés, működés
X-KDE-Keywords[ia]=thema, semblantia, apparentia
X-KDE-Keywords[it]=tema, aspetto
X-KDE-Keywords[ko]=theme, look, feel, 테마, 모습과 느낌,외형,외관
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[nn]=tema, utsjånad, åtferd
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[pt_BR]=tema, visual, aparência
X-KDE-Keywords[ro]=tematică, temă, aspect, comportament
X-KDE-Keywords[ru]=theme,look,feel,тема,оформление,внешний вид,стиль
X-KDE-Keywords[sk]=téma, vzhľad, dojem
X-KDE-Keywords[sl]=tema,videz,občutek
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[vi]=theme,chủ đề,look,nhìn,feel,cảm
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 观感
Categories=Qt;KDE;X-KDE-settings-looknfeel;
